.upper{
    margin: 95px 188px 52px 195px;
}
.mid{
    display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    align-items: center;
    padding: 53px 0 53px 0;
    border-bottom: 1px solid #E6E6E6;
    justify-content: space-between;
}
.ico{
    margin-left: 22px;
}
.accio{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.row-1{
    margin-left: -40px;
}
.hi{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 20px;
    margin-top: 50px;
}
.p1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.inp{
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0 5px;
    width: 204px;
    height: 58px;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.bot{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #23A6F0;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    height: 60px;
    width: 117px;
    margin-top: 1px;
}
.inp::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 15px 107px 16px 13px;
}
.foot{
    width: 1440px;
    height: 74px;
    background: #FAFAFA;
}
.fo{
    padding: 25px 0 25px 195px;
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;

}
.p5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}